/* --------------------------------FORM---------------------------- */

form{
    margin: 100px auto;

    border: none;
    outline: none;
    width: 100%;
    max-width: 800px;
    border: none;
    outline: 1px solid #999;
    border-radius: 10px;
    padding: 30px;
}


form input{

    border: none;
    outline: none;
    padding: 20px 10px;
    border-radius: 15px;
    display: block;
    margin: 20px auto;
    width: 40%;
    outline: 1px solid #777;
}

form input[type=submit]{
    background-color: #48e;
    width: 20%;
    color: #fff;
    outline: 1px solid #fff;
    transition: all 0.2s;
    
}

form input[type=submit]:hover{
    background-color: #fff;
    color: #48e;
    outline: 1px solid #48e;
    transition: all 0.2s;
    cursor: pointer;
    
}
/* --------------------------------MESSAGE ---------------------------- */

.message{
    display: none;
    background-color: red;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
}