.bodySection{
 
    width: 100%;
    height: 100vh;
    /* background-color: rgb(204, 193, 193); */
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
   
    max-width: 300px;
    margin: 40px auto;

}

input {
    padding: 10px;
    border: 1px solid #ede7ff;
    outline: 1px solid #333;
    border-radius: 5px;
    font-size: 16px;
    display: block;
    margin: 10px auto;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-top: 10px;
}

input:focus {
    border-color: #2575fc;
    outline: none;
}

button {
    background: #2575fc;
    color: rgb(220, 130, 255);
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
